h1{
    display: inline-block ;
    text-decoration: overline;
    font-style: italic;
    font-weight: 1000;
    font-family:sans-serif;
    font-variant: small-caps;
    color: rgba(130, 255, 0, 0.5);
    border-style: solid ;
    border-width: 5px 12px 7px 15px ;
    padding: 50px 10px ;
    margin: 10px 50px 50px 50px;
}
code{
    display: none ;
}
ul{
    display: none ;
}
p{
    display: inline-block;
}
select{
    color: rgb(0, 0, 0);
    size: 10 px;
}
.class1{
    color: rgba(130, 255, 0, 0.5);
}
ul{
    color: rgb(255, 94, 0);
}
#id1{
    color: rgb(234, 255, 0);
}
a:link{
    color: rgb(31, 0, 109);
    text-decoration:none ;
}
a:visited{
    color: brown;
}
a:hover{
    color: blue;
    font-size: 21px;
}
a:active{
    color: rgb(165, 42, 42);
}
body{
    background-image: url(profilej.jpg);
    background-size: cover;
}
#div1 {
    background-color: crimson;
}
#div2{
    border: 5px blue solid ;
    width: 100px;
    height: 60px;
    overflow: auto;
}
.contanar{
    background:pink;
    display: flex;
    height:450px;
    flex-flow:row wrap;
    justify-content: space-evenly;
    align-items: center;
}
.ch1{
background:grey;
}
.ch2{
background:yellowgreen;
}
.ch3{
background:blueviolet;
}
.contanar div{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.5);
    color: aliceblue;
    font-size: 34px;
    font: italic;
}
.container1 {
    background: pink;
    width: 700px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
    gap: 10px 20px;
    justify-content: space-around;
    align-content: space-around;
}
.child1, .child4, .child7 {
    background: grey;
}
.child2, .child5, .child8 {
    background: yellowgreen;
}
.child3, .child6, .child9 {
    background: blueviolet;
}
.child1{
    grid-column: 1 / 3;
    grid-row: 1 / 4;
}
.container2 {
    background-color:white;
    width: 700px;
    height: 300px; 
   display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows:  1fr 2fr 1fr;
  grid-template-areas:
    "header  header"
    "sidebar content"
    "footer  footer";
    gap: 8px;
}
.header {
  grid-area: header;
  background: #e0ffff;
  text-align: center;
  padding: 25px 0;
  font-size: 28px;
}
.sidebar {
  grid-area: sidebar;
  background: #c0f0f0;
  text-align: center;
  padding: 60px 0;
  font-size: 26px;
}
.content {
  grid-area: content;
  background: #7fffd4;
  text-align: center;
  padding: 60px 0;
  font-size: 26px;
}
.footer {
  grid-area: footer;
  background: #40e0d0;
  text-align: center;
  padding: 25px 0;
  font-size: 26px;
}